body{
    background: gray;
    }
.container {
    display: flex;
    background: white;
    justify-content: center;   
}
.post-header{
    width: 35%;
    background: white;
    margin-left: 32%;
    text-align: justify;
}
.new{
    display: flex;
    justify-content: space-around;
    /*text-align: justify;*/
}
.now{
    color: grey;
}